@require "~cube-ui/src/common/stylus/var/color.styl"
//自定义样式
$color-white=#2E2E3B
$color-grey=#8B8E99
$color-dark-grey=#fff
$dialog-btn-color=#8B8E99
$color-orange=#4C94FF
$color-row-line=#555
// dialog
$dialog-color := $color-grey
$dialog-bgc := $color-white
$dialog-icon-color := #6c6c7d
$dialog-icon-bgc := #3d3d4d
$dialog-title-color := $color-dark-grey
$dialog-close-color := $color-light-grey
$dialog-btn-color := $color-light-grey
$dialog-btn-bgc := $color-white
$dialog-btn-active-bgc := $color-light-grey-opacity
$dialog-btn-highlight-color := $color-orange
$dialog-btn-highlight-active-bgc := $color-light-orange-opacity
$dialog-btn-disabled-color := $color-light-grey
$dialog-btn-disabled-active-bgc := transparent
$dialog-btns-split-color := $color-row-line

// tab-bar & tab-panel
$color-dark-orange=#fff;
$tab-color := $color-grey
$tab-active-color := $color-dark-orange
$tab-slider-bgc := $color-dark-orange

/// primary
$btn-primary-color := #fff

// switch
$switch-on-bgc := $color-orange
$switch-off-bgc := $color-white
$switch-off-border-color := #24242E
